<!doctype html>
<html>
<head>
  <title>Contactos</title>
    <meta name="description" content="Página principal">
    <meta name="keywords" content="HTML template - plantilla">
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Contact us{% endblock %}
    {% block content %}
    
    <h1> Juan Manuel Romero : +57 314 781 9989 </h1> 
    <h1> Jhonathan Ramirez : +57 313 614 1274 </h1> 
    <h1> Sebastian Betancourt : +57 322 878 4404 </h1>              
    {% endblock %}
</body>
</html>